@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <h1>Responsive File Upload</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="pdfFile">Select a PDF file:</label>
            <input type="file" id="pdfFile" name="files" accept=".pdf">
            <input type="file" id="pdfFile" name="files" accept=".pdf">
            <input type="file" id="pdfFile" name="files" accept=".pdf">
            <button type="submit">Upload</button>
        </form>
        <div id="message"></div>
        @*<iframe id="pdfViewer" runat="server" src="" frameborder="0"></iframe>*@
        @if (Model.PdfUrl != null)
        {
            <iframe src="@Model.PdfUrl"
                    width="800"
                    height="500">
            </iframe>
        }
        //End Container
    </div>
</div>
